


.container-detail{
    
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    
    border-radius: 3px;
    box-shadow: 1px 1px 1px black;
    background-color: #fff1f1;
}
.det-actions> button {
    margin: 10px;
    background: none;
    border-radius: 3px;
}
#img-det{
    border-radius: 100px;
    width: fit-content;
    image-rendering: auto;
    max-height: 205px;
    margin-left: 25%;
}
.container-flex-column{
    border: 1px solid black;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}.item-genero {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

li.finished .label {
    opacity: .4;
    text-decoration: line-through;
}


img.img-genero {
    width: 30%;
    height:30%;
    border-radius: 20%;
} 
/*
li>img {
    width: 40px;
    height:40px;
    border-radius: 50%;
}*/